

.container {
  padding-top: 2rem;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.generate-password {
    display: flex;
    gap: 1rem;
    margin: 1rem;
}

.checkbox {
  all: unset;
  justify-content: space-between;
  display: flex;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin: .5rem;
}

.password-length {
  margin: 1rem;
  gap: 1rem;
}

.generate-btn {
  padding: .4rem;
  margin: 1rem;
}